<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mybatis.mapper.CacheMapper">


    <select id="getEmpByEid" resultType="com.atguigu.mybatis.pojo.Emp">
        select
            *
        from
            t_emp
        where
            eid = #{eid}
        limit 1;
    </select>
</mapper>
