<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--  environments :配置多个连接数据库的环境属性:default:设置默认使用的环境的id-->
    <environments default="development">
<!--
    environment 配置某个具体的环境
        属性有：1. id表示连接数据库的环境的唯一标识，不能重复
                2. transactionManager：设置事务管理方式  属性 type="JDBC/MANAGED"
                    JDBC:表示当前环境中，执行sQL时，使用的是JDBC中原生的事务管理方式。事务的提交或回滚需要手动处理
                    MANAGED(被管理):被管理，例如被spring管理

        -->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--
                     dataSource：配置数据源
                     属性：
                         type：设置数据源的类型
                         type="POOLED|UNPOOLED|JNDI"
                         POOLED：表示使用数据库连接池缓存数据库连接
                         UNPOOLED：表示不使用数据库连接池
                         JNDI：表示使用上下文中的数据源
                 -->
            <dataSource type="POOLED">
                <!--设置连接数据库的驱动-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!--设置连接数据库的连接地址-->
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis"/>
                <!--设置连接数据库的用户名-->
                <property name="username" value="root"/>
                <!--设置连接数据库的密码-->
                <property name="password" value="root"/>
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
<!-- 引入映射文件-->
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
    </mappers>
</configuration>
