server:
  port: 8672

spring:
  rabbitmq:
    host: 192.168.220.128
    port: 5672
    username: admin
    password: admin
    publisher-confirm-type: correlated

#⚫NONE
 #禁用发布确认模式，是默认值
 #⚫CORRELATED
 #发布消息成功到交换器后会触发回调方法
 #⚫SIMPLE

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
